# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps with API key
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

output_data_file = "../output_data/cities.csv"
city_data = pd.read_csv(output_data_file)
# city_data.dropna(inplace = True)
city_data.head()
# city_data_df = pd.DataFrame(city_data, columns=['City', 'Lat', 'Lng', 'Max Temp', 'Current Description', 'Humidity', 'Cloudiness', 'Wind Speed', 'Country'])


# city_data_df.head(25)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [36]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# locations=city_data[['Lat', 'Lng']].astype(float)

# hum_max=city_data['Humidity'].max()

In [39]:
locations = city_data[["Lat", "Lng"]]
humidity = city_data["Humidity"]

fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300,
                                 point_radius=5)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

Narrow down the DataFrame to find your ideal weather condition. For example:
A max temperature lower than 80 degrees but higher than 70

Wind speed less than 10 mph

Zero cloudiness

In [42]:
narrow_city = city_data.loc[(city_data['Max Temp']< 80) & (city_data['Max Temp'] >70) & (city_data['Wind Speed'] <10) & (city_data['Cloudiness'] !=0)].dropna()
narrow_city.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
12,12,avarua,100,CK,1558378756,94,-21.21,-159.78,71.60,2.24
25,25,kantang,20,TH,1558378759,94,7.42,99.52,78.80,6.93
44,44,puerto ayora,26,EC,1558378762,86,-0.74,-90.35,79.00,5.99
59,59,bontang,54,ID,1558378765,99,0.12,117.47,74.22,2.62
87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [43]:
hotel_df = pd.DataFrame()
name_hotel = pd.DataFrame(narrow_city)
hotel_df['City'] =name_hotel['City']
hotel_df['Country'] = name_hotel['Country']
hotel_df['Lat'] = name_hotel['Lat']
hotel_df['Lng'] = name_hotel['Lng']

hotel_df.head()

            City Country    Lat     Lng
12        avarua      CK -21.21 -159.78
25       kantang      TH   7.42   99.52
44  puerto ayora      EC  -0.74  -90.35
59       bontang      ID   0.12  117.47
87      ambilobe      MG -13.19   49.05

In [44]:
# Set parameters to serach for a hotel
parameters = { "radius": 5000, "types": "lodging","key": g_key}

# Iterate through cities
for index, row in hotel_df.iterrows():
    # get lat, lng from dataframe
    latitude = row["Lat"]
    longitude = row["Lng"]

    # change location each iteration while keeping original params in place
    parameters["location"] = f"{latitude},{longitude}"
    
    # Create base url to search nearby hotel     
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request
    print(f"Retrieving results for city: {row['City']}")
    hotel_name = requests.get(base_url, params=parameters).json()
    
    # extract results
    hotel_name = hotel_name['results']
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name[0]['name']
        print(f"Closest hotel is {hotel_name[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = hotel_name[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

# Display hotel names on dataframe
hotel_df

Retrieving results for city: avarua
Closest hotel is Paradise Inn.
------------
Retrieving results for city: kantang
Closest hotel is Reng Ta Chai Boutique HomeStay.
------------
Retrieving results for city: puerto ayora
Closest hotel is Finch Bay Galapagos Hotel.
------------
Retrieving results for city: bontang
Closest hotel is Guest House Badak LNG,Bontang,Kaliantan Timur.
------------
Retrieving results for city: ambilobe
Closest hotel is Hôtel & Restaurant DIANA Ambilobe.
------------
Retrieving results for city: bella vista
Closest hotel is Hotel Río Arriba.
------------
Retrieving results for city: sorong
Closest hotel is Waigo Splash Hotel.
------------
Retrieving results for city: mbigou
Missing field/result... skipping.
------------
Retrieving results for city: hilo
Closest hotel is SCP Hilo Hotel.
------------
Retrieving results for city: porto novo
Closest hotel is Harmonia.
------------
Retrieving results for city: manado
Closest hotel is Aryaduta Hotel.
------------
Retrieving results for city: kathmandu
Closest hotel is Hotel Shanker Kathmandu.
------------
Retrieving results for city: saint-georges
Closest hotel is Le Georgesville, centre de congrès et hôtel.
------------
Retrieving results for city: luanda
Closest hotel is EPIC SANA Luanda.
------------
Retrieving results for city: namatanai
Closest hotel is Namatanai Hotel.
------------
Retrieving results for city: labuhan
Closest hotel is Pondok Indah Gula Habang.
------------
Retrieving results for city: marawi
Closest hotel is Derogongan Residence.
------------
Retrieving results for city: samana
Closest hotel is Nantu.
------------
Retrieving results for city: koronowo
Closest hotel is Ośrodek Wypoczynkowy "Julia" w Samociążku.
------------
Retrieving results for city: aketi
Missing field/result... skipping.
------------
Retrieving results for city: katobu
Closest hotel is La Ode Husein.
------------
Retrieving results for city: banjar
Closest hotel is OYO 2488 Villa Tirta Melati Syariah.
------------
Retrieving results for city: andradas
Closest hotel is Andradas Palace Hotel.
------------
Retrieving results for city: saint-leu
Closest hotel is La Caz Oceane.
------------
Retrieving results for city: dingle
Closest hotel is SEGAYA PROPERTY.
------------
Retrieving results for city: san quintin
Closest hotel is CRESENCIO PLACIDO PROPERTY.
------------
Retrieving results for city: takoradi
Closest hotel is Raybow International Hotel.
------------
Retrieving results for city: aitape
Closest hotel is 郭超本度假酒店.
------------
Retrieving results for city: alofi
Closest hotel is Taloa Heights.
------------
Retrieving results for city: airai
Missing field/result... skipping.
------------
Retrieving results for city: balkanabat
Closest hotel is Nebitchi Hotel.
------------
Retrieving results for city: tshikapa
Closest hotel is Hotel Paradis de Tshikapa, Congo.
------------
Retrieving results for city: san patricio
Closest hotel is Flia. Ríos Ferreira.
------------
Retrieving results for city: eseka
Closest hotel is Hotel Eseka Palace.
------------
Retrieving results for city: daru
Missing field/result... skipping.
------------
Retrieving results for city: alyangula
Closest hotel is Groote Eylandt Lodge.
------------
Retrieving results for city: boyolangu
Closest hotel is Lojikka Hotel.
------------
Retrieving results for city: santa maria
Closest hotel is Hotel Morotin.
------------
Retrieving results for city: juiz de fora
Closest hotel is Constantino Hotel.
------------
Retrieving results for city: sambava
Closest hotel is Melrose.
------------
Retrieving results for city: cartagena del chaira
Closest hotel is HOTEL LA ROCA.
------------
Retrieving results for city: lucapa
Closest hotel is Lírio Mendes.
------------
Retrieving results for city: lorengau
Closest hotel is Lorengau Harbourside Hotel.
------------
Retrieving results for city: san cristobal
Closest hotel is Sierra Alisos Hotel de Campo.
------------
Retrieving results for city: san ramon
Closest hotel is Casagallovago.
------------
Retrieving results for city: samarinda
Closest hotel is ASTON Samarinda Hotel & Convention Center.
------------
Retrieving results for city: san-pedro
Closest hotel is Hotel Maria.
------------
Retrieving results for city: baylo
Closest hotel is Marcojude Inn.
------------
Retrieving results for city: malindi
Closest hotel is African House Resort.
------------
Retrieving results for city: marzuq
Closest hotel is حيد القفلة.
------------
Retrieving results for city: palu
Closest hotel is Hotel Santika Palu.
------------

,City,Country,Lat,Lng,Hotel Name
12,avarua,CK,-21.21,-159.78,Paradise Inn
25,kantang,TH,7.42,99.52,Reng Ta Chai Boutique HomeStay
44,puerto ayora,EC,-0.74,-90.35,Finch Bay Galapagos Hotel
59,bontang,ID,0.12,117.47,"Guest House Badak LNG,Bontang,Kaliantan Timur"
87,ambilobe,MG,-13.19,49.05,Hôtel & Restaurant DIANA Ambilobe
91,bella vista,AR,-28.51,-59.05,Hotel Río Arriba
100,sorong,ID,-0.86,131.25,Waigo Splash Hotel
104,mbigou,GA,-1.90,11.91,NaN
106,hilo,US,19.71,-155.08,SCP Hilo Hotel
153,porto novo,BR,-23.68,-45.44,Harmonia
159,manado,ID,1.49,124.85,Aryaduta Hotel
164,kathmandu,NP,27.71,85.32,Hotel Shanker Kathmandu
190,saint-georges,CA,46.12,-70.67,"Le Georgesville, centre de congrès et hôtel"
201,luanda,AO,-8.83,13.24,EPIC SANA Luanda
203,namatanai,PG,-3.66,152.44,Namatanai Hotel
211,labuhan,ID,-2.54,115.51,Pondok Indah Gula Habang
221,marawi,PH,8.00,124.29,Derogongan Residence
222,samana,EC,0.12,-76.97,Nantu
223,koronowo,PL,53.31,17.94,"Ośrodek Wypoczynkowy ""Julia"" w Samociążku"
229,aketi,CD,2.74,23.78,NaN
234,katobu,ID,-4.94,122.53,La Ode Husein
235,banjar,ID,-7.37,108.54,OYO 2488 Villa Tirta Melati Syariah
237,andradas,BR,-22.07,-46.57,Andradas Palace Hotel
264,saint-leu,RE,-21.15,55.28,La Caz Oceane
268,dingle,PH,11.00,122.67,SEGAYA PROPERTY
288,san quintin,PH,17.54,120.52,CRESENCIO PLACIDO PROPERTY
294,takoradi,GH,4.89,-1.75,Raybow International Hotel
301,aitape,PG,-3.15,142.36,郭超本度假酒店
302,alofi,NU,-19.06,-169.92,Taloa Heights
310,airai,TL,-8.93,125.41,NaN
311,balkanabat,TM,39.51,54.36,Nebitchi Hotel
322,tshikapa,CD,-6.42,20.79,"Hotel Paradis de Tshikapa, Congo"
334,san patricio,PY,-26.98,-56.83,Flia. Ríos Ferreira
345,eseka,CM,3.65,10.77,Hotel Eseka Palace
354,daru,SL,7.99,-10.85,NaN
358,alyangula,AU,-13.85,136.42,Groote Eylandt Lodge
361,boyolangu,ID,-8.09,111.90,Lojikka Hotel
385,santa maria,BR,-29.69,-53.81,Hotel Morotin
393,juiz de fora,BR,-21.76,-43.35,Constantino Hotel
402,sambava,MG,-14.27,50.17,Melrose
431,cartagena del chaira,CO,1.33,-74.84,HOTEL LA ROCA
443,lucapa,AO,-8.42,20.74,Lírio Mendes
450,lorengau,PG,-2.02,147.27,Lorengau Harbourside Hotel
468,san cristobal,EC,-0.39,-78.55,Sierra Alisos Hotel de Campo
469,san ramon,NI,12.92,-85.84,Casagallovago
478,samarinda,ID,-0.50,117.14,ASTON Samarinda Hotel & Convention Center
485,san-pedro,CI,4.75,-6.64,Hotel Maria
494,baylo,PH,7.85,126.06,Marcojude Inn
516,malindi,KE,-3.22,40.12,African House Resort
534,marzuq,YE,14.40,46.47,حيد القفلة
539,palu,ID,-0.90,119.87,Hotel Santika Palu

In [45]:
hotel_df.count()

City          51
Country       51
Lat           51
Lng           51
Hotel Name    47
dtype: int64

In [46]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations_loc = hotel_df[["Lat", "Lng"]]

In [49]:
# Add marker layer ontop of heat map

figure = gmaps.figure()

# Create heat layer
markers = gmaps.marker_layer(locations_loc, info_box_content = hotel_info)

# Add layer

fig.add_layer(markers)

plt.savefig("vacationheatmapwithhotels.png")



# Display figure
fig

Figure(layout=FigureLayout(height='420px'))